<div class="container">


    <div class="row">
        <div class="col-sm-3">
            <li class="list-group-item"> Totalt ordervärde: {{ orders.totalPrice }} kr </li><br>
            <ul ng-repeat="order in orders" class="list-group" ng-click="orderClicked(order.id)">
                <li class="list-group-item btn"> OrderNr {{ order.id }} </li>
            </ul>
        </div>
        <div class="col-sm-9">

            <h2>Din kundinfo</h2>
            <form name="form" role="form">
                <div class="form-group" ng-class="{ 'has-error': form.firstName.$touched && form.firstName.$invalid }">
                    <label for="firstName">Förnamn</label>
                    <input type="text" name="firstName" id="firstName" class="form-control" ng-model="firstName" required />
                    <span ng-show="form.firstName.$touched && form.firstName.$invalid" class="help-block">Förnamn behövs</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.lastName.$touched && form.lastName.$invalid }">
                    <label for="lastName">Efternamn</label>
                    <input type="text" name="lastName" id="lastName" class="form-control" ng-model="lastName" required />
                    <span ng-show="form.lastName.$touched && form.lastName.$invalid" class="help-block">Efternamn behövs</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" ng-model="email" required />
                    <span ng-show="form.email.$touched && form.email.$invalid" class="help-block">Email behövs</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.phone.$touched && form.phone.$invalid }">
                    <label for="phone">Telefonnummer</label>
                    <input type="text" name="phone" id="phone" class="form-control" ng-model="phone" required />
                    <span ng-show="form.phone.$touched && form.phone.$invalid" class="help-block">Telefonnummer behövs</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$touched && form.password.$invalid }">
                    <label for="password">Lösenord   </label>
                    <p>Du behöver ange lösenord för att uppdatera kundinfo men kan inte ändra lösenord</p>
                    <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
                    <span ng-show="form.password.$touched && form.password.$invalid" class="help-block">Lösenord behövs</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.address.$touched && form.address.$invalid }">
                    <label for="address">Adress</label>
                    <input type="text" name="address" id="address" class="form-control" ng-model="address" required />
                    <span ng-show="form.address.$touched && form.address.$invalid" class="help-block">Adress behövs</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.postalCode.$touched && form.postalCode.$invalid }">
                    <label for="postalCode">Postnummer</label>
                    <input type="text" name="postalCode" id="postalCode" class="form-control" ng-model="postalCode" required />
                    <span ng-show="form.postalCode.$touched && form.postalCode.$invalid" class="help-block">Postnummer behövs</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.city.$touched && form.city.$invalid }">
                    <label for="city">Stad</label>
                    <input type="text" name="city" id="city" class="form-control" ng-model="city" required />
                    <span ng-show="form.city.$touched && form.city.$invalid" class="help-block">Stad behövs</span>
                </div>

                <div class="form-actions">
                    <span ng-show="form.$invalid" class="help-block">Alla information måste anges</span>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="updateCustomer()">Uppdatera informationen</button>
                    <back-button-component></back-button-component>
                </div>
            </form>
            <div ng-show="infoChangeSuccess" class="alert alert-success alert-dismissable">
                <strong>Tack!</strong> Din information har ändrats!
            </div>
            <div ng-show="infoChangeFaild" class="alert alert-danger alert-dismissable">
                <strong>Tyvärr</strong> Din information har inte kunnat ändras!
            </div>
        </div>
    </div>
</div>